header {
	background-color: #000;
	color: #fff;
	overflow: hidden;
	height: 75px;
	padding: $padding;
	h1 {
		display: inline-block;
	}
	nav {
		display: inline-block;
		float: right;
		margin: $margin;
		li {
			display: inline-block;
		}
	}
}