button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  width: 75px;
  height: 30px;
  background: linear-gradient(to bottom white, #44bbcc, black);
  background-color: #94d8e2;
  border: none;
  color: #fff;
  cursor: pointer; }

form {
  padding: 10px;
  border: 1px solid #000;
  overflow: hidden; }
  form fieldset {
    border: none; }
  form input {
    width: 100%;
    height: 25px;
    border: none;
    border-radius: 4px; }
  form label {
    font-size: 11.05px;
    text-indent: 1rem;
    display: block;
    width: 100%;
    margin: 0.2rem; }
  form input {
    display: block;
    margin: 0 auto;
    height: 2rem;
    background-color: #ddd;
    border: none;
    padding: 2px;
    text-align: center; }
  form#login-form {
    width: 40%;
    margin: 100px auto; }
    form#login-form button {
      float: right;
      margin: 0.2rem; }
  form button {
    position: relative;
    display: block;
    right: 0; }

header {
  background-color: #000;
  color: #fff;
  overflow: hidden;
  height: 75px;
  padding: 10px; }
  header h1 {
    display: inline-block; }
  header nav {
    display: inline-block;
    float: right;
    margin: 0.2rem; }
    header nav li {
      display: inline-block; }

body {
  height: 768px;
  overflow: hidden; }

section#calendar {
  width: 100%;
  background-color: #effeef;
  padding: 2rem 0;
  position: relative;
  overflow: hidden; }

div#calendar {
  float: left;
  position: relative;
  margin-left: 2rem;
  left: 2rem; }
  div#calendar ul.dates li.active {
    background-color: #fff; }

#todays-jobs {
  float: right;
  width: 358px; }
  #todays-jobs .workorder {
    width: 100%;
    text-align: left;
    position: relative; }
    #todays-jobs .workorder::after {
      content: '>';
      position: absolute;
      right: 1rem;
      top: 0;
      transition: all .5s; }
    #todays-jobs .workorder.drop::after {
      transform: rotate(90deg); }
  #todays-jobs .expandable {
    display: none;
    height: auto; }
    #todays-jobs .expandable .finish-workorder {
      float: right;
      margin: 2rem;
      position: relative;
      right: 2rem; }
    #todays-jobs .expandable ul {
      list-style: none;
      padding: 0;
      width: 80%;
      margin: .5rem auto; }
      #todays-jobs .expandable ul li {
        float: left; }

.offscreen-window {
  position: absolute;
  width: 0%;
  height: 768px;
  top: 0;
  right: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.99);
  transition: width .5s; }
  .offscreen-window h3 {
    display: block;
    text-align: center;
    width: 100%; }
  .offscreen-window.slide-in {
    width: 100%; }
  .offscreen-window #imgupload {
    width: 80%;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    .offscreen-window #imgupload fieldset label textarea {
      background: #ddd;
      width: 100%;
      display: block;
      border: none;
      border-radius: 2px; }
    .offscreen-window #imgupload fieldset label {
      float: left;
      width: 32%; }
    .offscreen-window #imgupload #imagefield {
      width: 460.797px;
      margin: 0 auto;
      height: 30%;
      overflow: hidden; }
      .offscreen-window #imgupload #imagefield #imgupload {
        width: auto;
        display: block; }
      .offscreen-window #imgupload #imagefield .images_preview {
        height: 111.83px;
        width: 70%;
        overflow: scroll;
        background-color: rgba(0, 0, 0, 0.5);
        padding: .5rem 0;
        white-space: nowrap; }
        .offscreen-window #imgupload #imagefield .images_preview .thumbnail {
          display: inline-block;
          height: 70%; }

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 2rem;
  background-color: #ddd;
  line-height: 2rem;
  text-align: center; }

footer {
  background-color: #000;
  width: 100%; }

/*# sourceMappingURL=main.css.map */
